@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://www.realtimecolors.com/?colors=2c021c-ffffff-384bdc-ffe100-ffb8e4&fonts=Poppins-Poppins */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 323 91% 9%;
    --card: 0 0% 100%;
    --card-foreground: 323 91% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 323 91% 9%;
    --primary: 233 70% 54%;
    --primary-foreground: 323 92% 90%;
    --secondary: 53 100% 50%;
    --secondary-foreground: 323 91% 9%;
    --muted: 0 0% 20%;
    --muted-foreground: 323 91% 70%;
    --accent: 323 100% 86%;
    --accent-foreground: 323 92% 90%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 323 91% 9%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 323 100% 40%;
    --radius: 0.5rem;

    .dark {
      --background: 0 0% 0%;
      --foreground: 0 0% 100%;
      --card: 0 0% 0%;
      --card-foreground: 0 0% 100%;
      --popover: 0 0% 0%;
      --popover-foreground: 0 0% 100%;
      --primary: 233 70% 46%;
      --primary-foreground: 0 0% 10%;
      --secondary: 53 100% 50%;
      --secondary-foreground: 0 0% 100%;
      --muted: 0 0% 80%;
      --muted-foreground: 0 0% 100%;
      --accent: 307 100% 57%;
      --accent-foreground: 0 0% 100%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 0 0% 10%;
      --border: 0 0% 60%;
      --input: 0 0% 80%;
      --ring: 307 100% 60%;
    }
  }
  } */
 
 @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7,26.8%,83.9);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.Center-This {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}